services:
  traefik:
    image: traefik:v2.11
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  backend:
    build: ./backend
    environment:
      - TABLE_NAME=Votes
      - REGION_NAME=eu-central-1
      - DYNAMODB_ENDPOINT=
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`rs-final.duckdns.org`) && (PathPrefix(`/vote`) || PathPrefix(`/results`) || PathPrefix(`/docs`) || PathPrefix(`/openapi.json`))"
      - "traefik.http.routers.backend.entrypoints=web"
    restart: always

  frontend:
    build: ./frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`rs-final.duckdns.org`)"
      - "traefik.http.routers.frontend.entrypoints=web"
    restart: always
